body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #8C1D40; /* Elon maroon */
    color: white;
    padding: 20px;
    text-align: center;
}

#map {
    height: 90vh;
    width: 100%;
}

.map img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border: 2px solid #ccc;
    border-radius: 8px;
}